.top{
	background: #387ef5;height: 44px;line-height: 44px;text-align:center;color: #fff;font-size: 18px;
	i{
		font-size: 16px;width: 30px;text-align:center;color: #fff;float: left;height: 44px;line-height: 44px;
	}
}